# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pythonenv*
.venv/

# Файлы данных
.DS_Store
Thumbs.db

# JSON‑файл с данными (чтобы не засорять репозиторий пользовательскими данными)
expenses.json
